<div class="col-lg-4 col-lg-offset-2">
  <%= simple_form_for @profile do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthdate %>
    <%= f.input :address %>
    <%= f.input :mobile %>
    <%= f.input :phone %>
    <%= f.input :mail %>
    <%= f.input :job %>
    <%= f.input :company %>
    <%= f.button :submit %>
  <% end %>
</div>
