<h1>All Profiles</h1>

<p>
  <%= link_to "Home", "/" %>
</p>

<ul>
  <% @profiles.each do |product| %>
  <li>
    <%= profile.first_name %> (<%= profile.email %>)
    <%= link_to "voir le profil", profile_path(profile) %>
  </li>
  <% end %>
</ul>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
