<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lien d'amour</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
    <%= yield %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDTizj5ZVmftFJR6yuxVDy7WKMjuWESsuU" %>
    <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:after_js) %>
  </body>
</html>
